/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый фон #FFFFFF */
/* акцент #2196F3 */
/* адресс в футере rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона вторичный цвет фона */
/* цвет фона руководителей #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF; 
}

body {
    background: var(--primary-white-color);
    color: var(--primary-text-color);  
}

.list {
    list-style: none;
}

/* шапка */
.accent {
    color: var(--accent-color);
}

.logo {
    color: var(--title-text-color);
}

/* site nav */
.site-nav .link {
    color: var(--title-text-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero-title {
    color: var(--primary-white-color);
}

/* Section */
.section-title {
    color: var(--title-text-color);
}

/* Features */
.feature-list .title {
    color: var(--title-text-color);
}

/* button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}